.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  
}



.hero-media {
  max-width: 400px;
  font-size: 0.5rem;
}


.form-row {
  
}

.home-section {
  padding: 20px;
}


.btn-links {
    padding-bottom: 30px;
}

ul.network-icon {
    padding-bottom: 30px;
}